<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pegar Caminho</title>
</head>
<body>
    <h1>Pegar Caminho</h1>
    <p>ID do Caminho: {{ caminho_id }}</p>
    <p>Nome: {{ caminho.nome }}</p>
    <p>Coordenada X: {{ caminho.x }}</p>
    <p>Coordenada Y: {{ caminho.y }}</p>
    <p>Coordenada Z: {{ caminho.z }}</p>
    <p>Coordenada R: {{ caminho.r }}</p>
</body>
</html>
